# Logs
*.log

# Python
*.py[cod]
__pycache__/
*.so

# Environments
.venv
venv/
ENV/
env.bak/
venv.bak/
.env

# Django
media/
media/temp/
media/cache/
db.sqlite3

# Favicon
# favicon.ico

# Ignore macOS system files
.DS_Store
