{% load static %}

        <!-- Services Start -->
        <div class="container-fluid service overflow-hidden pt-5">
            <div class="container py-5">
                <div class="section-title text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="sub-style">
                        <h5 class="sub-title text-primary px-3">Visa Categories</h5>
                    </div>
                    <h1 class="display-5 mb-4">Enabling Your Immigration Successfully</h1>
                    <p class="mb-0">Explore a variety of visa categories designed to guide you through the immigration process and ensure a successful journey.</p>
                </div>
                <div class="row g-4">
                    {% for viz in categories %}
                    <div class="col-lg-6 col-xl-4 wow fadeInUp" data-wow-delay="0.{{viz.delay}}s">
                        <div class="service-item">
                            <div class="service-inner">
                                <div class="service-img">
                                    <img src="{{viz.image.url}}" class="img-fluid w-100 rounded" alt="{{viz.name}}">
                                </div>
                                <div class="service-title">
                                    <div class="service-title-name">
                                        <div class="bg-primary text-center rounded p-3 mx-5 mb-4">
                                            <a href="#" class="h4 text-white mb-0">{{viz.name}}</a>
                                        </div>
                                        <a class="btn bg-light text-secondary rounded-pill py-3 px-5 mb-4" href="#">Explore More</a>
                                    </div>
                                    <div class="service-content pb-4">
                                        <a href="#"><h4 class="text-white mb-4 py-3">{{viz.name}}</h4></a>
                                        <div class="px-4">
                                            <p class="mb-4">{{viz.shortdesc}}</p>
                                            <a class="btn btn-primary border-secondary rounded-pill py-3 px-5" 
                                            href="{% url 'mainapp:categories' %}">Explore More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    

                </div>
            </div>
        </div>
        <!-- Services End -->