{% load static %}
<!-- Modal Search Start -->
<div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content rounded-0">
            <div class="modal-header">
                <h4 class="modal-title text-secondary mb-0" id="exampleModalLabel">Search by keyword</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex align-items-center">
                <form method="get" action="{% url 'mainapp:search_visas' %}" class="w-75 mx-auto">
                    <div class="input-group">
                        <input 
                            type="search" 
                            name="q" 
                            class="form-control p-3" 
                            placeholder="Enter keywords (e.g., country, category, visa title)"
                            required
                        >
                        <button type="submit" class="input-group-text p-3"><i class="fa fa-search"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Modal Search End -->
