{% load static %}
{% include 'sections/navigation.html' %}

        {% include 'sections/modalsearch.html' %}

        <!-- Header Start -->
        <div class="container-fluid bg-breadcrumb">
            <div class="container text-center py-5" style="max-width: 900px;">
                <h3 class="text-white display-3 mb-4 wow fadeInDown" data-wow-delay="0.1s">Contact Us</h1>
                <ol class="breadcrumb justify-content-center text-white mb-0 wow fadeInDown" data-wow-delay="0.3s">
                    <li class="breadcrumb-item"><a href="/" class="text-white">Home</a></li>
                    <li class="breadcrumb-item active text-secondary">Contact</li>
                </ol>    
            </div>
        </div>
        <!-- Header End -->

        <!-- Contact Start -->
        <div class="container-fluid contact overflow-hidden py-5">
            <div class="container py-5">
                <div class="row g-5 mb-5">
                    <div class="col-lg-6 wow fadeInLeft" data-wow-delay="0.1s">
                        <div class="sub-style">
                            <h5 class="sub-title text-primary pe-3">{{querystarter}}</h5>
                        </div>
                        <h1 class="display-5 mb-4">{{querymain}}</h1>
                        <p class="mb-5">{{querydesc}}</p>
                        <div class="d-flex border-bottom mb-4 pb-4">
                            <i class="fas fa-map-marked-alt fa-4x text-primary bg-light p-3 rounded"></i>
                            <div class="ps-3">
                                <h5>Location</h5>
                                <p>{{address}}</p>
                            </div>
                        </div>
                        <div class="row g-3">
                            <div class="col-xl-6">
                                <div class="d-flex">
                                    <i class="fas fa-tty fa-3x text-primary"></i>
                                    <div class="ps-3">
                                        <h5 class="mb-3">Quick Contact</h5>
                                        <div class="mb-3">
                                            <h6 class="mb-0">Phone:</h6>
                                            <a href="#" class="fs-5 text-primary">{{phone_primary}}</a>
                                        </div>
                                        <div class="mb-3">
                                            <h6 class="mb-0">Email:</h6>
                                            <a href="#" class="fs-5 text-primary">{{email}}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="d-flex">
                                    <i class="fas fa-clone fa-3x text-primary"></i>
                                    <div class="ps-3">
                                        <h5 class="mb-3">Opening Hrs</h5>
                                        <div class="mb-3">
                                            <h6 class="mb-0">Mon - Friday:</h6>
                                            <a href="#" class="fs-5 text-primary">08.00 am to 05.00 pm</a>
                                        </div>
                                        <div class="mb-3">
                                            <h6 class="mb-0">Satday:</h6>
                                            <a href="#" class="fs-5 text-primary">09.00 am to 02.00 pm</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex align-items-center pt-3">
                            <div class="me-4">
                                <div class="bg-light d-flex align-items-center justify-content-center" style="width: 90px; height: 90px; border-radius: 10px;"><i class="fas fa-share fa-3x text-primary"></i></div>
                            </div>
                            <div class="d-flex">
                                <a class="btn btn-secondary border-secondary me-2 p-0" href="{{tiktok}}"><i class="fab fa-tiktok fa-2x text-success"></i></a>
                                <a class="btn btn-secondary border-secondary me-2 p-0" href="{{facebook}}"><i class="fab fa-facebook-f fa-2x text-dark"></i></a>
                                <a class="btn btn-secondary border-secondary mx-2 p-0" href="{{linkedin}}"><i class="fab fa-linkedin fa-2x text-dark"></i></a>
                                <a class="btn btn-secondary border-secondary mx-2 p-0" href="{{instagram}}"><i class="fab fa-instagram fa-2x text-secondary"></i></a>
                                <a class="btn btn-secondary border-secondary mx-2 p-0" href="{{youtube}}"><i class="fab fa-youtube fa-2x text-danger"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 wow fadeInRight" data-wow-delay="0.3">
                        <div class="sub-style">
                            <h5 class="sub-title text-primary pe-3">{{formstarter}}</h5>
                        </div>
                        <h1 class="display-5 mb-4">{{formheading}}</h1>
                        
                        <form method="POST">
                            {% csrf_token %}
                            <div class="row g-4">
                                <div class="col-lg-12 col-xl-6">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" name="name" id="name" placeholder="Your Name" required>
                                        <label for="name">Your Name</label>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-xl-6">
                                    <div class="form-floating">
                                        <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                                        <label for="email">Your Email</label>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-xl-6">
                                    <div class="form-floating">
                                        <input type="phone" class="form-control" name="phone" id="phone" placeholder="Phone">
                                        <label for="phone">Your Phone</label>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-xl-6">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" name="project" id="project" placeholder="Project">
                                        <label for="project">Service Required</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
                                        <label for="subject">Subject</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-floating">
                                        <textarea class="form-control" name="message" id="message" placeholder="Leave a message here" style="height: 160px" required></textarea>
                                        <label for="message">Message</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-primary w-100 py-3" type="submit">Send Message</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                {% if ofc %}
                {% include 'sections/offices.html' %}
                {% endif %}

                <div class="col-12 pt-5 wow zoomIn" data-wow-delay="0.1s">
                    <div class="rounded h-100">
                        <iframe class="rounded w-100" 
                        style="height: 500px;" src="{{mapembedcode}}" 
                        loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
        </div>

        <!-- Contact End -->


{% include 'sections/footer.html' %}