{% load static %}
{% load countries %}


{% include 'sections/navigation.html' %}

        <!-- Carousel Start -->
        <div class="carousel-header">
            <div id="carouselId" class="carousel slide" data-bs-ride="carousel">
                <!-- Carousel Indicators -->
                <ol class="carousel-indicators">
                    {% for slide in sliders %}
                    <li data-bs-target="#carouselId" data-bs-slide-to="{{ forloop.counter0 }}" class="{% if forloop.first %}active{% endif %}"></li>
                    {% endfor %}
                </ol>

                <!-- Carousel Items -->
                <div class="carousel-inner" role="listbox">
                    {% for slide in sliders %}
                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                        {% if slide.headerimg %}
                        <img src="{{ slide.headerimg.url }}" class="img-fluid" alt="{{ slide.title }}">
                        {% endif %}
                        <div class="carousel-caption">
                            <div class="text-center p-4" style="max-width: 900px;">
                                {% if slide.title %}
                                <h4 class="text-white text-uppercase fw-bold mb-3 mb-md-4 wow fadeInUp" data-wow-delay="0.1s">
                                    {{ slide.title }}
                                </h4>
                                {% endif %}
                                {% if slide.tagline %}
                                <h1 class="display-1 text-capitalize text-white mb-3 mb-md-4 wow fadeInUp" data-wow-delay="0.3s">
                                    {{ slide.tagline }}
                                </h1>
                                {% endif %}
                                {% if slide.desc %}
                                <p class="text-white mb-4 mb-md-5 fs-5 wow fadeInUp" data-wow-delay="0.5s">
                                    {{ slide.desc }}
                                </p>
                                {% endif %}
                                {% if slide.calltoaction %}
                                <a class="btn btn-primary border-secondary rounded-pill text-white py-3 px-5 wow fadeInUp" 
                                data-wow-delay="0.7s" href="{{slide.actionurl}}">
                                    {{slide.calltoaction}}
                                </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <!-- Carousel Controls -->
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselId" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon bg-secondary wow fadeInLeft" data-wow-delay="0.2s" aria-hidden="true"></span>
                    <span class="visually-hidden-focusable">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselId" data-bs-slide="next">
                    <span class="carousel-control-next-icon bg-secondary wow fadeInRight" data-wow-delay="0.2s" aria-hidden="true"></span>
                    <span class="visually-hidden-focusable">Next</span>
                </button>
            </div>
        </div>
        <!-- Carousel End -->



        {% include 'sections/modalsearch.html' %}

        {% include 'sections/categorysection.html' %}
         
        {% include 'sections/features.html' %}

        {% include 'sections/aboutsection.html' %}

        {% include 'sections/countriesweoffer.html' %}

        {% include 'sections/counter.html' %}

        {% include 'sections/reviews.html' %}

        {% if trainings %}
        {% include 'sections/training.html' %}
        {% endif %}

        {% include 'sections/offices.html' %}

{% include 'sections/footer.html' %}